@page "/register"
@layout BlankPageLayout
@inherits RegisterBase

<PageTitle>Crie sua conta de acesso ao BlazorClientes</PageTitle>

<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-1 mx-1 mx-md-4 mt-4">Criar Conta</p>

                <p>Já possui conta? <a href="login">Faça login</a>.</p>

                  @if(ExibirAviso)
                  {
                        <Alerta TipoDeAlerta="AlertaBase.AlertType.atAviso" OnClose="FecharAviso">
                            @Mensagem
                        </Alerta>
                  }

                  <EditForm class="mx-1 mx-md-4" Model="_NewUser" OnValidSubmit="OnValidate">
                  <DataAnnotationsValidator />

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fa fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      @*<label class="form-label" for="form3Example1c">Informe seu nome</label>*@
                                            <input type="text" @bind-value="_NewUser.Nome" id="form3Example1c" class="form-control" placeholder="Informe seu nome" required />
                      <ValidationMessage For="@(() => _NewUser.Nome)" />
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fa fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                        @*<label class="form-label" for="form3Example3c">Informe seu e-mail</label> *@
                                            <input type="email" @bind-value="_NewUser.Email" id="form3Example3c" class="form-control" placeholder="Informe seu e-mail" required />
                        <ValidationMessage For="@(() => _NewUser.Email)" />
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fa fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      @*<label class="form-label" for="form3Example4c">Informe uma senha</label>*@
                      <input type="password" @bind-value="_NewUser.Senha" id="form3Example4c" class="form-control" placeholder="Informe sua senha" required />
                      <ValidationMessage For="@(() => _NewUser.Senha)" />
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fa fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      @*<label class="form-label" for="form3Example4cd">Repita a senha</label>*@
                                            <input type="password" @bind-value="ConfirmaSenha" id="form3Example4cd" class="form-control" placeholder="Confirme sua senha" required />
                      <ValidationMessage For="@(() => ConfirmaSenha)" />
                    </div>
                  </div>

                  <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" @bind-value="@AcceptTerms" id="form2Example3c" checked />
                    <label class="form-check-label" for="form2Example3">
                      Eu concordo com os <a class="btn btn-link" @onclick="LerTermos">Termos de Serviço</a>.
                    </label>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">Criar conta</button>
                  </div>

                </EditForm>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
            <p class="text-center">&copy; @AnoCopyright by <a href="https://github.com/rafael-figueiredo-alves">Rafael de Figueiredo Alves</a></p>
    </div>
  </div>
</section>


<TermsDlg Titulo="Termos de Serviço" @ref="TermsOfServiceDlg">
    <TermsOfService />
</TermsDlg>
