@page "/products"
@inherits ProductsBase

<PageTitle>BlazorClientes | Produtos</PageTitle>

<SearchInput Filtros="Filtros" FiltroSelecionado="FiltroSelecionado" SearchClick="SearchClick">
    <h3>Produtos</h3>
</SearchInput>

<div class="container-fluid mt-1 mb-1 border-bottom border-top">
    <div class="row">
        <div class="col-6 pt-3 text-start align-middle">
            <p class="text-start">@InfoPaginasERegistros</p>
        </div>
        <div class="col-6 pt-2 pb-2 justify-content-end text-end">
            @if (Lista!.Any())
            {
                <button class="btn btn-primary d-none d-sm-inline" style="width: 150px" @onclick="PrintProdutos"><span class="oi oi-print" /> Imprimir</button>
                <button class="btn btn-primary d-sm-none rounded-circle" @onclick="PrintProdutos"><span class="oi oi-print" /></button>
            }
            <button class="btn btn-success d-none d-sm-inline" style="width: 150px" @onclick="InsertProduto"><span class="oi oi-plus" /> Novo produto</button>
            <button class="btn btn-success d-sm-none rounded-circle" @onclick="InsertProduto"><span class="oi oi-plus" /></button>
        </div>
    </div>
</div>

@if (Lista == null)
{
    <p>Carregando produtos...</p>
}
else
if (!Lista.Any())
{
    <p>Sem produtos para listar</p>
}
else
{
    <div style="height:60vh;overflow:auto;">
        <table class="table table-hover @Theme!.ColorClass" style="color: @Theme!.ColorFontStyle" data-bs-theme="@Theme.DataBsTheme">
            <thead style="position: sticky;z-index: 10;top: 0;">
                <tr>
                    <th scope="col" style="position: sticky;z-index: 10;">Produto</th>
                    <th scope="col" style="position: sticky;z-index: 10;">Preço</th>
                    <th scope="col" class="d-none d-md-table-cell" style="position: sticky;z-index: 10;">Barcode</th>
                    <th scope="col" style="position: sticky;z-index: 10;">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Produtos produto in Lista!)
                {
                    <tr>
                        <td class="col-4 col-md-4 align-middle" style="color: @Theme!.ColorFontStyle!" data-bs-theme="@Theme.DataBsTheme">@produto.Produto</td>
                        <td class="col-4 col-md-2 align-middle" style="color: @Theme!.ColorFontStyle!" data-bs-theme="@Theme.DataBsTheme">@(string.Format("{0:c}", produto.Valor))</td>
                        <td class="d-none d-md-table-cell col-2 align-middle" style="color: @Theme!.ColorFontStyle!" data-bs-theme="@Theme.DataBsTheme">@produto.Barcode</td>
                        <td class="col-4 col-md-2">
                            <div class="d-inline align-content-end">
                                <a class="btn btn-primary rounded-circle" @onclick="@(()=> UpdateProduto(produto))"><span class="oi oi-pencil" /></a>
                                <a class="btn btn-danger rounded-circle" @onclick="@(()=> DeleteProduto(produto))"><span class="oi oi-trash" /></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div class="container" style="height: 20px" />

<ConfirmDlg Titulo="Remover produto?" @ref="MsgDelete" OnYesClick="ConfirmDeleteProduto">
    <p>Deseja realmente apagar os dados do produto selecionado?</p>
    <p><strong>Produto:</strong> @SelectedProduto!.Produto</p>
</ConfirmDlg>

<div class="fixed-bottom pe-5 ps-3 pt-2 @Theme!.ColorClass" style="z-index: 100">
    <Paginacao QuantidadeTotalPaginas="QuantidadeTotalPaginas" PaginaAtual="PaginaAtual"
               Raio="2" PaginaSelecionadaClick="GetPageClick" QtdItensPorPagina="ItensPorPagina"
               OnChangeQtdItensPorPagina="OnChangeQtdItensPorPagina" />
</div>

<div class="container" style="height: 20px" />