@inject NavigationManager Nv
@using Microsoft.AspNetCore.Components.Authorization
@using Blazored.Toast.Configuration

<CascadingAuthenticationState>
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
        <Authorizing>
            <p>Autorizando...</p>
        </Authorizing>
        <NotAuthorized>
            @{
                Nv.NavigateTo("login");
            }
        </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(BlankPageLayout)">
            <_404page />
        </LayoutView>
    </NotFound>
</Router>
</CascadingAuthenticationState>

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="5"
                SuccessClass="success-toast-override"
                IconType="IconType.FontAwesome"
                SuccessIcon="fa fa-thumbs-up"
                ShowProgressBar="true" />