@inherits LayoutComponentBase

<CascadingValue Value="@Theme">
    <div class="page @Theme.ColorClass" style="height: 100vh;color: @Theme.ColorFontStyle" data-bs-theme="@Theme.DataBsTheme">
        <main>
            <NavMenu IsDark="isDark" ChangeTheme="ChangeTheme" />

            <article class="content px-4">
                <ErrorBoundary>
                    <ChildContent>@Body</ChildContent>
                    <ErrorContent><h1>Ocorreu um imprevisto... ;(</h1></ErrorContent>
                </ErrorBoundary>
            </article>
        </main>
    </div>
</CascadingValue>

@code{
    private UITheming Theme = new();
    private bool isDark = false;

    public void ChangeTheme()
    {
        isDark = !isDark;
        if (isDark)
        {
            Theme = new()
                {
                    ColorFontStyle = "white",
                    ColorClass = "bg-dark",
                    DataBsTheme = "dark",
                    IsDark = true
                };
        }
        else
        {
            Theme = new();
        }
    }
}