@inherits LayoutComponentBase
@inject ILocalStorage LStorage

<CascadingValue Value="@Theme">
    <div class="page @Theme.ColorClass" style="height: 100vh;color: @Theme.ColorFontStyle" data-bs-theme="@Theme.DataBsTheme">
        <main>
            <NavMenu IsDark="isDark" ChangeTheme="ChangeTheme" />

            <article class="content px-4 @Theme.ColorClass" data-bs-theme="@Theme.DataBsTheme">
                <ErrorBoundary>
                    <ChildContent>@Body</ChildContent>
                    <ErrorContent><h1>Ocorreu um imprevisto... ;(</h1></ErrorContent>
                </ErrorBoundary>
            </article>
        </main>
    </div>

    @if(Theme.IsDark)
    {
        <footer class="container fixed-bottom bg-dark mt-4" style="color: white">
            <hr>
            <p>&copy; @DateTime.Now.Year by DevPegasus (Rafael de Figueiredo Alves)</p>
        </footer>
    }
    else
    {
        <footer class="container fixed-bottom bg-white mt-4">
            <hr>
            <p>&copy; @DateTime.Now.Year by DevPegasus (Rafael de Figueiredo Alves)</p>
        </footer>
    }

</CascadingValue>

@code{
    private UITheming Theme = UITheming.SetDarkMode();
    private string ThemeKey = "BlazorClientes_Theme";
    private bool isDark = false;

    protected override async Task OnInitializedAsync()
    {
        isDark = Convert.ToBoolean(await LStorage.GetValue(ThemeKey));
        SetTheme();
    }

    public void ChangeTheme()
    {
        isDark = !isDark;
        SetTheme();
    }

    public async void SetTheme()
    {
        Theme = UITheming.SetDarkMode(isDark);
        await LStorage.SetValue(ThemeKey, isDark.ToString());
    }
}