@inherits LayoutComponentBase
@inject IUserData UserData;
@inject IAuthServices Auth;

<CascadingValue Value="@Theme">
    <div class="page @Theme.ColorClass" style="height: 100vh;color: @Theme.ColorFontStyle" data-bs-theme="@Theme.DataBsTheme">
        <main>
            <NavMenu IsDark="isDark" ChangeTheme="ChangeTheme" />

            <article class="content px-4 @Theme.ColorClass" data-bs-theme="@Theme.DataBsTheme">
                <ErrorBoundary>
                    <ChildContent>@Body</ChildContent>
                    <ErrorContent><h1>Ocorreu um imprevisto... ;(</h1></ErrorContent>
                </ErrorBoundary>
            </article>
        </main>
    </div>

</CascadingValue>

@code{
    private UITheming Theme = UITheming.SetDarkMode();
    private bool isDark = false;

    protected override async Task OnInitializedAsync()
    {
        await UserData!.ReadData(await Auth.GetUserID());
        isDark = Convert.ToBoolean(UserData.UserDB().isDark);
        SetTheme();
    }

    public void ChangeTheme()
    {
        isDark = !isDark;
        SetTheme();
    }

    public async void SetTheme()
    {
        Theme = UITheming.SetDarkMode(isDark);
        UserData.UserDB().isDark = isDark;
        await UserData.SaveData();
    }
}