<EditForm Model="@TaskModel" OnValidSubmit="@OnValidSubmit" class="@Theme!.ColorClass" data-bs-theme="@Theme!.DataBsTheme">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label form="Tarefa">Tarefa: </label>
        <div>
            @if(Theme.DataBsTheme == "dark")
            {
                <InputText @bind-Value="TaskModel!.tarefa" class="form-control bg-dark" style="color: white" />
            }
            else
            {
                <InputText @bind-Value="TaskModel!.tarefa" class="form-control" />
            }
            <ValidationMessage For="@(()=> TaskModel.tarefa)" />
        </div>
    </div>

    <div class="form-group">
        <label form="Tarefa">Descrição: </label>
        <div>
            @if (Theme.DataBsTheme == "dark")
            {
                <InputTextArea @bind-Value="TaskModel.Descricao" class="form-control bg-dark" style="color: white" maxlength="250" @oninput="Alterando" data-bs-theme="@Theme!.DataBsTheme" />
            }
            else
            {
                <InputTextArea @bind-Value="TaskModel.Descricao" class="form-control" maxlength="250" @oninput="Alterando" data-bs-theme="@Theme!.DataBsTheme" />
            }
            <small id="edescricaoHelp" class="form-text text-muted" style="color: @Theme.ColorFontStyle">@QtdCaracteres / 250 caracteres digitados.</small>
            <ValidationMessage For="@(()=> TaskModel.Descricao)" />
        </div>
    </div>

    <br />
    <div class="text-end">
        <button class="btn btn-danger" style="width: 100px"
         @onclick="@(()=> nav!.NavigateTo("/"))">
            Cancelar
        </button>
        <button type="submit" class="btn btn-success" style="width: 100px">
            Salvar
        </button>
    </div>

</EditForm>

@code {
    [CascadingParameter]
    protected UITheming? Theme { get; set; }
    [Parameter]public Tarefa? TaskModel { get; set; }
    [Parameter]public EventCallback OnValidSubmit{ get; set; }
    [Inject]private NavigationManager? nav { get; set; }
    protected int QtdCaracteres{ get; set; }

    protected override void OnInitialized()
    {
        QtdCaracteres = TaskModel!.Descricao.Length;
    }

    protected void Alterando(ChangeEventArgs e)
    {
        QtdCaracteres = e.Value!.ToString()!.Length;
    }
}
