@page "/"
@inherits IndexBase

<PageTitle>Simple To-DO App | Home</PageTitle>

<div class="container-fluid @Theme.ColorClass!" style="color: @Theme!.ColorFontStyle" data-bs-theme="@Theme.DataBsTheme!">
    <div class="row">
        <div class="d-none d-md-table-cell col-8 align-middle">
            <h3 class="d-none d-md-inline">Estas são as minhas Tarefas</h3>
        </div>
        <div class="col justify-content-end">
            <SearchInput PesquisarTarefa="Pesquisar" Limpar="LimparPesquisa" />
        </div>
    </div>
</div>

<hr />

@if (Lista == null)
{
    <p>Carregando tarefas...</p>
}
else
if (!Lista.Any())
{
    <p>Sem tarefas</p>
}
else
{
    <table class="table table-hover @Theme!.ColorClass" style="color: @Theme!.ColorFontStyle" data-bs-theme="@Theme.DataBsTheme">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tarefa</th>
                <th scope="col" class="d-none d-md-table-cell">Descrição</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Tarefa item in Lista!)
            {
                <tr>
                    @if (Theme.DataBsTheme == "dark")
                    {
                        <th scope="col" class="col-1 align-middle"><input class="form-check-input @Theme.ColorClass" type="checkbox" @bind="item.feito" style="border-color: white" id="flexCheckDefault" @onclick="@(() => SetarTarefa(item.id, !item.feito))" data-bs-theme="@Theme.DataBsTheme"></th>
                    }
                    else
                    {
                        <th scope="col" class="col-1 align-middle"><input class="form-check-input @Theme.ColorClass" type="checkbox" @bind="item.feito" id="flexCheckDefault" @onclick="@(() => SetarTarefa(item.id, !item.feito))" data-bs-theme="@Theme.DataBsTheme"></th>
                    }
                    <td class="col-3 align-middle" style="color: @Theme!.ColorFontStyle" data-bs-theme="@Theme.DataBsTheme">@item.tarefa</td>
                    <td class="d-none d-md-table-cell col-6 align-middle" style="color: @Theme!.ColorFontStyle" data-bs-theme="@Theme.DataBsTheme">@item.descricao</td>
                    <td class="col-2">
                        <div class="d-inline align-content-end">
                            <a class="btn btn-primary" href="edittask/@item.id"><span class="oi oi-pencil" /></a>
                            <a class="btn btn-danger" @onclick="@(()=> RemoveTarefa(item.id))"><span class="oi oi-trash" /></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<Msg Titulo="Excluir tarefa?" @ref="msg" OnYesClick="ApagarTask">
    <p>Deseja realmente apagar a tarefa selecionada?</p>
</Msg>

<Paginacao QuantidadeTotalPaginas="QuantidadeTotalPaginas" paginaAtual="paginaAtual"
           Raio="2" PaginaSelecionada="PaginaSelecionada" />

